#board {
  margin: auto;
  width: 300px;
}

#board .cell {
  float: left
}

.cell {
  box-sizing: border-box;
  border: 1px solid;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 50px;
}
